.banner__title__h1{
    font-family: 'Montserrat', sans-serif;
}

.header__link{
    font-family: 'Open Sans', sans-serif;
}

.button{
    font-family: 'Open Sans', sans-serif;
}

.banner__title__h2{
    font-family: 'Crimson Pro', serif;
}

.banner__title__h3{
    font-family: 'Open Sans', sans-serif;
}

.products{
    font-family: 'Montserrat', sans-serif;
}

.products__title{
    font-family: 'Montserrat', sans-serif;
}

.services{
    font-family: 'Montserrat', sans-serif;
}

.services__title{
    font-family: 'Crimson Pro', serif;
}

.main__title{
    font-family: 'Montserrat', sans-serif;
}

.main__info{
    font-family: 'Crimson Pro', serif;
}

.contact{
    font-family: 'Montserrat', sans-serif;
}

.text{
    font-family: 'Open Sans', sans-serif;
}

.footer__text{
    font-family: 'Open Sans', sans-serif;
}