.banner{
    background:#EEE4DB;
}

.header{
    display: flex;
    align-items: center;
}

.branding__item{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.unndotted{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header__nav{
    display: flex;
}

.logo{
    margin-right: 110px;
}

.header nav{
    margin: 0 auto 0 25px;
}

.header__link{
    margin-right: 20px;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.button{
    display: block;
    background: #000;
    text-transform: uppercase;
}